.metadata/
.recommenders/
.settings/
target/
RemoteSystemsTempFiles/
Servers/
lib/
*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.springBeans
deployment
tempbar
tempclasses
bin
deposit

